version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps"
    groups:
      nuxt:
        patterns:
          - "@nuxt/*"
          - "nuxt"
      dev-dependencies:
        dependency-type: "development"
        exclude-patterns:
          - "@nuxt/*"
          - "nuxt"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "ci"
