name: Release

on:
  push:
    branches: [main]

jobs:
  release:
    name: Create release PR or publish merged changesets
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      packages: write
      pull-requests: write
      issues: read

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "pnpm"
      - name: install
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Prepare
        run: pnpm dev:prepare

      - name: Build
        run: pnpm prepack

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm run bump
          publish: pnpm run changeset publish
          commit: "chore: release"
          title: "chore: next version release"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
